body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #71857C;
    }

h1, h2, h3 {color: #EEE3CB;}

p, ul, label {color: #D5C5B9;}

a {color: #9CA49C;}

nav {background-color: #A9907E;}

nav a {color: #E5CA9B;}

nav a:hover {background-color:#FFFCE5;}

nav {padding: 10px;}

nav {margin-bottom: 30px;}

.evenrow {background-color: #FAEBD7;}

h1 {font-size: 1.65em;}

h2 {font-size:1.25em;}

