body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #607274;
    }

h1, h2, h3 {color: #B2A59B;}

p {color: #675D50;}

a {color: #5F6F52;}

nav {background-color: #A9907E;}

nav a {color: #D1B98F;}

nav a:hover {background-color:#FEFAE0;}

nav {padding: 10px;}

nav {margin-bottom: 30px;}

.evenrow {background-color: #FAEBD7;}

h1 {font-size: 1.65em;}

h2 {font-size:1.25em;}