h1 {font-size: 2em;}

h2 {font-size: 1.75em;}

h3 {font-size: 1.5em;}

h4 {font-size: 1.25em;}

h5 {font-size: 1.05em;}

p {font-size: 19px;}

ul {font-size: 1.25em;}

h {
    background-color: #789173;
}

a {
    color: #f0f8ff;
}

nav {
    background-color: #637281;
    font-size: 1.5em;
}

.navspace {
    justify-content: space-around;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ddded0;
}

h1, h2, h3 {
    color: #3e4955;
}

h4, h5 {
    color: #4e5b6a;
}

@media only screen and (max-width: 600px)
    {
        nav a {display: block;
            flex-wrap: wrap;
            max-width: 100%;
            padding: 5px;
        }

        nav span {display: none;}

        .recs1, .recs2 {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;                
            margin: 0 auto;   
        }
    } 

#iconcred {
    color: #4e5b6a;
}
