h {
    background-color: #789173;
}

nav {
    background-color: #acc0d3;
    font-size: 1.5em;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e5ff00;
}

h1, h2, h3 {
    color: #3c3f3f;
}

@media only screen and (max-width: 600px)
    {
        nav a {display: block;
            flex-wrap: wrap;
            max-width: 100%;
            padding: 5px;
            }

        nav span {display: none;}
    } 
