body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #71857C;
    }

h1, h2, h3 {color: #6b6251;}

p, ul, label, div {color: #775840;}

p {font-size: 1em;}

a {color: #535353;}

nav {background-color: #45524C;}

nav a {color: #ffa200;}

nav a:hover {background-color: #f2d91d;}

nav {padding: 10px;}

nav {margin-bottom: 30px;}

.evenrow {background-color: #E0CFB9;}

h1 {font-size: 1.65em;}

h2 {font-size: 1.25em;}

h3 {font-size: 1.10em;}

@media only screen and (max-width: 600px)
    {
        nav a {display: block;
            flex-wrap: wrap;
            max-width: 100%;
            padding: 5px;
            }

        nav span {display: none;}
    } 