body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #38413d;
    }

h1, h2, h3 {color: #ffecd8;}

p, ul, label, div, span {color: #faeedb;}

p {font-size: 1em;}

a {color: #fff2e0;}

nav {background-color: #000000;}

nav a {color: #fffaf1;}

nav a:hover {background-color: #badbd7;}

nav {padding: 10px;}

nav {margin-bottom: 30px;}

.evenrow {background-color: #E0CFB9;}

h1 {font-size: 1.65em;}

h2 {font-size: 1.25em;}

h3 {font-size: 1.10em;}

@media only screen and (max-width: 600px)
    {
        nav a {display: block;
            flex-wrap: wrap;
            max-width: 100%;
            padding: 5px;
            }

        nav span {display: none;}
    } 